
*{
    margin: 0;
    padding: 0;
    border: none;
}
.container{
    padding-top: 150px;
}
.education{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    color: #303841;
    font-size: 40px;
    display: flex;
    justify-content: center;
}